body {
  font-family: "roboto medium";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: normal;

}

h1 {
  font-size: 40px;
  line-height: normal;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page-header {
  padding-bottom: 70px;
  margin-bottom: 80px;
  background: #eeeeee;
}

.header-logo {
  width: 140px;
  float: left;
}

.header-nav {
  width: 560px;
  float: right;
}

.header-menu {
  float: left;
}

.header-menu-list>li {
  display: inline-block;
}

.header-cart {
  float: right;
}

.slider {
  display: none;
}

.slider-slide-content {
  display: inline-block;
}


.header-title {
  width: 700px;
  margin: 0 auto;
}

.services {
  margin-bottom: 74px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  float: left;
  width: 240px;
}

.services-item:not(:last-child) {
  margin-right: 80px;
}

.company-info {
  margin-bottom: 45px;
  padding-bottom: 72px;
  border-bottom: 2px solid #eeeeee;
}

.about-us {
  width: 620px;
}

.about-job-col {
  float: left;
}
.about-job-col:first-child {
  margin-right: 180px;
}

.partners {
  margin-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
}

.partners-item {
  display: inline-block;
}

.partners-item:not(:last-child) {
  margin-right: 100px;
}


.shop-form {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.shop-content {
  float: right;
  width: 560px;
}

.shop-sort {
  margin-bottom: 21px;
}

.shop-sort-title {
  float: left;
}

.shop-sort-list {
  float: left;
}

.shop-sort-item {
  display: inline-block;
}

.shop-sort-buttons {
  float: right;
}

.shop-products-item {
  display: inline-block;
  width: 240px;
  padding: 0 0 0 0;
  margin-bottom: 80px;
}

.shop-products-item:not(:nth-child(2n)) {
  margin-right: 75px;
}

.item-inside {
  display: none;
}

.shop-pagination-list-item {
  display: inline-block;
}



.contacts {
  display: none;
}

.social-btns {
  float: left;
  width: 240px;
  margin-right: 70px;
}

.footer-promo {
  float:left;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
