body {
  font-family: "roboto medium";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: normal;

}

h1 {
  font-size: 40px;
  line-height: normal;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.page-header {
  padding-bottom: 70px;
}

.header-logo {
  width: 140px;
  float: left;
}

.header-nav {
  width: 560px;
  float: right;
}

.header-menu {
  float: left;
}
.header-cart {
  float: right;
}

.header-title {
  width: 700px;
  margin: 0 auto;
}

.header-top::after {
  content: "";
  display: table;
  clear: both;
}


.shop-form {
  float: left;
  width: 240px;
}

.shop-content {
  float: right;
  width: 560px;
}

.shop-products-item {
  display: inline-block;
}

.item-inside {
  display: none;
}

.contacts {
  display: none;
}

.sotital-btns {
  float: left;
}

.footer-promo {
  float:right;
}

.main-footer-bottom::after {
  content: "";
  display: table;
  clear: both;
}

main::after {
  content: "";
  display: table;
  clear: both;
}
